* {
 margin: 0;
 overflow-y: hidden;
}

::-webkit-scrollbar {
 width: 0px;
 height: 0px;
 background: transparent; /* make scrollbar transparent */
}

.Nav {
 background-color: #000411;
 color: red;
 margin-top: 0;
 height: 80px;
 display: flex;
 align-items: center;
 z-index: 1;
 width: 100%;
 display: block;
 border-bottom: white 1px solid;
}
.Navlower {
 display: grid;
 grid-template-columns: 250px auto;
}
.Navlower ul li:hover .subMenu {
 display: block;
 position: absolute;
 background-color: rgb(0, 4, 17, 1);
 margin-top: -10px;
 margin-left: 15px;
 padding-bottom: 0;
 border-radius: 8px;
 border-bottom: red 1px solid;
 border-right: red 1px solid;
 border-left: red 1px solid;
}

.subMenu {
 display: none;
 min-width: 70px;
}

.Nav h1 {
 background-color: black;
}
.Nav ul {
 list-style: none;
 margin: 0;
 padding: 0;
 overflow: auto;
}
.Nav li {
 float: left;
}
.Nav li:first-child {
 padding-left: 0%;
 margin: 0;
}
.Nav a {
 display: block;
 color: white;
 text-decoration: none;
 font-size: 25px;
 margin: 10px;
 border: rgb(0, 0, 0) 1px solid;
}
.Nav a:hover {
 border: red 1px solid;
 color: red;
}

.subMenu a {
 font-size: 15px;
 color: white;
 margin: 6px;
}

.container {
 border: rgb(0, 0, 0) 1px solid;
 background: black;
 height: 100rem;
}

.grid {
 display: grid;
 grid-template-columns: 250px auto 250px;
 z-index: 1;
 min-height: 50vh;
 height: 77vh;
 z-index: 1;
}

.img {
 height: auto;
 width: auto;
 z-index: -1;
 background-size: cover;
}

.browser {
 background-color: rgb(0, 4, 17, 0.5);
}
.center {
 text-align: center;
}

.gamelist {
 color: red;
 border-left: #ccc 1px solid;
 background-color: rgb(0, 4, 17, 0.8);
 font-size: 1.3rem;
 font-weight: bold;
 text-align: center;
 height: 100%;
}
.games {
 font-size: 1.3rem;
 font-weight: bold;
 text-align: left;
 height: 100%;
}
.games ul {
 list-style: none;
 padding: 0;
 margin: 0;
}
.games li {
 float: center;
}

.games li a {
 display: block;
 color: white;
 text-decoration: none;
 font-size: 17px;
}
.games li a:hover {
 background-color: grey;
}

.serverchannels {
 color: red;
 border-right: #ccc 1px solid;
 background-color: rgb(0, 4, 17, 0.8);
 font-size: 1.3rem;
 font-weight: bold;
 text-align: left;
 height: 100%;
}

.footer {
 display: grid;
 position: relative;
 grid-template-columns: 250px minmax(auto, 1450px) 250px;
 border-top: #ccc 1px solid;
 height: 150px;
 background-color: #000411;
 opacity: 0.8;
}
.footer div {
 color: red;
}
.serverimg {
 height: auto;
 width: auto;
 background-size: cover;
 border-right: white 1px solid;
}
.rightbottom {
 border-left: white 1px solid;
}

.serverimgsmall {
 height: 50px;
 width: 50px;
 background-size: cover;
 background-position: center;
 border-radius: 50%;
 padding: 5px;
 margin: 5px;
}
.serverimgsmall:hover {
 border-radius: 40%;
 cursor: pointer;
}

.servers {
 z-index: 1;
}
.servers ul {
 display: inline-flex;
}
.servers li {
 float: left;
}

.dash {
 color: red;
 height: 100%;
 background-color: rgb(0, 4, 17, 0.3);
}
.dashboard {
 height: 100%;
 overflow-y: scroll;
}

.dashGrid {
 height: 80%;
 display: grid;
 grid-template-rows: 49% 49%;
}
.dashimg {
 height: 140px;
 width: 240px;
 background-size: cover;
 background-position: center;
 padding: 10px;
 margin: 10px;
 border: grey 1px solid;
}
.dashimg:hover {
 border: gold 1px solid;
}
.trendstream {
 height: 100%;
 border-bottom: white 1px solid;
}
.trendstream ul {
 display: inline-flex;
}
.trendstream li {
 float: left;
}
.trendgames {
 border-bottom: white 1px solid;
 height: 100%;
}
.trendgames ul {
 display: inline-flex;
}
.trendgames li {
 float: left;
}
.dashmygames ul {
 display: flexbox;
}
.dashmygames li {
 float: left;
 margin-left: 10px;
}

.dashmygamesimg {
 height: 240px;
 width: 140px;
 background-size: cover;
 background-position: center;
 padding: 5px;
 margin: 10px;
 border: grey 1px solid;
}
.dashmygamesimg:hover {
 border: gold 1px solid;
}
.dashmygames ul li:hover .gamesubmenu {
 display: block;
 position: inherit;
 background-color: rgb(0, 4, 17, 1);
 margin-left: 0px;
 margin-top: 190px;
 padding-bottom: 0;
 text-align: center;
 border-radius: 8px;
}

.gamesubmenu {
 display: none;
 min-width: 70px;
 color: white;
}

.sticky {
 text-align: center;
 position: sticky;
 left: 0;
}

.storeNav {
 overflow-x: hidden;
 display: grid;
 grid-template-columns: auto 630px auto;
 background-color: #000411;
 margin-top: 0;
 height: 40px;
 z-index: 1;
 width: 100%;
 border-bottom: #ccc 1px solid;
}

.storeNav ul {
 display: block;
 margin: 0;
 padding: 0;
 overflow-x: hidden;
 margin: 0px;
}
.storeNav li {
 display: inline-block;
 padding: 0;
 margin: 1px;
}
.storeNav li:first-child {
 margin-left: 0px;
}
.storeNav a {
 padding-top: 10px;
 height: 25px;
 border: white 1px solid;
 width: 110px;
 display: block;
 color: white;
 text-decoration: none;
 text-align: center;
 font-size: 15px;
}
.storeNav a:hover {
 border: red 1px solid;
 background-color: black;
}
.GamesSearch {
 margin: 0;
 padding: 0;
 padding-bottom: 0;
}
.storepage {
 overflow-y: scroll;
 height: 94.5%;
}
.storepage ul {
 display: flexbox;
}
.storepage li {
 float: left;
 margin-left: 10px;
 padding-bottom: 12px;
}
.storepage a {
 text-decoration: none;
 color: red;
}
.gamestorepage {
 height: 100%;
 width: 100%;
 background-position: center;
 background-size: cover;
}
.film {
 height: 100%;
 width: 100%;
 background-color: rgb(0, 4, 17, 0.8);
}
.gamestorepageimg {
 width: 95%;
 height: 100%;
 background-position: center;
 background-size: cover;
}
.storepagecomponents {
 height: 100%;
 width: 100%;
 display: grid;
 grid-template-rows: 6% 94%;
}
.storepagecomponents div {
 border: white 1px solid;
}
.storepagecomponent1 {
 height: 100%;
 width: 100%;
 display: grid;
 grid-template-rows: 50% 50%;
}
.storepagecomponent2 {
 height: 100%;
 width: 100%;
 display: grid;
 grid-template-columns: 50% 50%;
}
.addcartbutton {
 position: fixed;
 bottom: 0;
 right: 0;
}
