/*Global App Css */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}
:root {
    --Primary-Header-Color: #66fcf1;
    --Secondary-Header-Color: #c5c6c7;
    --Tertiary-Header-Color: #ffffff;
    --outLine: #384d48;
    --Seconary-Outline-Color: #45a29e;
    --Active-Outline-Color: #66fcf1;
    --Tint: #000000;
    --Primary-Background-Color: #000411;
    --Secondary-Background-Color: #384d48;
    --Tertiary-Background-Color: #000000;
    --Bright-Background-Color: #ffffff;
}
.Primary-Header {
    color: var(--Primary-Header-Color);
}
.Secondary-Header {
    color: var(--Secondary-Header-Color);
}
.Tertiary-Header {
    color: var(--Tertiary-Header-Color);
}
.Bright-Background {
    background-color: var(--Bright-Background-Color);
}
.Primary-Background {
    background-color: var(--Primary-Background-Color);
}
.Secondary-Background {
    background-color: var(--Secondary-Background-Color);
}
.Tertiary-Background {
    background-color: var(--Tertiary-Background-Color);
}
.Border-Top-1PX {
    border-top: var(--outLine) 1px solid;
}
.Border-Bottom-1PX {
    border-bottom: var(--Active-Outline-Color) 1px solid;
}
.Border-Right-2PX {
    border-right: var(--outLine) 2px solid;
}
* {
    margin: 0;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: 'Goldman', cursive;
}
.app {
    height: 100%;
    width: 100%;
}
.app-background {
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
}
.app-mainGrid {
    display: grid;
    grid-template-columns: 65px 250px 0px auto 250px;
    z-index: 1;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
}
.app-mainGridStream {
    display: grid;
    grid-template-columns: 65px -0px 0px auto 325px;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.app-mainGrid-Login-Register {
    display: grid;
    grid-template-columns: 0px -0px 0px 100% 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.app-browser {
    height: 100%;
    width: auto;
    background-color: rgb(0, 4, 17, 0.3);
    border-left: var(--outLine) 2px solid;
    border-right: var(--outLine) 2px solid;
    overflow-x: hidden;
}
/*Global Css */
.sticky {
    text-align: center;
    position: sticky;
    left: 0;
}
.globalbutton {
    outline: none;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: var(--Primary-Background-Color);
    color: var(--Tertiary-Header-Color);
    padding: 10px;
    display: inline-block;
    border: grey 1px solid;
    min-width: 100px;
    margin: 3px;
}
.globalbutton:hover {
    border: var(--Active-Outline-Color) 1px solid;
    background: var(--Tertiary-Background-Color);
    color: var(--Active-Outline-Color);
    cursor: pointer;
}
.globalHeader {
    text-align: center;
    height: auto;
}
.globalHeaderL {
    text-align: left;
    height: auto;
}
.globalHeaderR {
    text-align: right;
    height: auto;
}
.profilepicture {
    background-color: var(--Bright-Background-Color);
    height: 43px;
    width: 43px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.profilepicture:hover {
    border-radius: 16px;
}

/*Component Css */

/*Modal */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgb(0, 4, 17, 0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: var(--Primary-Background-Color);
    margin: auto;
    padding: 20px;
    border: var(--outLine) 1px solid;
    text-align: center;
    width: 50%;
}

/* The Close Button */
.close {
    float: right;
    color: var(--Tertiary-Header-Color);
    font-size: 28px;
    font-weight: bold;
    height: auto;
    width: auto;
}

.close:hover,
.close:focus {
    color: var(--Active-Outline-Color);
    text-decoration: none;
    cursor: pointer;
}
.color-PickerGrid {
    display: grid;
    grid-template-columns: auto auto;
}
.color-PickerGrid ul {
    margin: 0;
    padding: 0;
}
.color-PickerGrid ul li:hover {
    border: var(--Active-Outline-Color) 2px solid;
}
.color-Options {
    height: auto;
    width: 95%;
    cursor: pointer;
    border: var(--outLine) 2px solid;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.color-Options2 {
    height: auto;
    width: 95%;
    cursor: pointer;
    border: var(--Active-Outline-Color) 2px solid;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.sketch-picker {
    height: auto;
}

/* Nav Bar Css */
.Nav {
    background-color: #000411;
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    display: block;
    border-right: var(--outLine) 2px solid;
}
.Nav ul {
    list-style: none;
    margin: 5px;
    padding: 0;
    width: auto;
    height: 99.5%;
    overflow-y: scroll;
}
.Nav li {
    height: auto;
    width: auto;
}
.Nav a {
    height: auto;
    width: auto;
    display: block;
    text-decoration: none;
    margin: 0;
    margin-top: 2px;
    border: rgba(0, 0, 0, 0) 1px solid;
    border-radius: 16px;
}
.NavIcons {
    height: 45px;
    width: 45px;
    background-size: cover;
    background-position: center;
    background-color: var(--Bright-Background-Color);
    border: var(--outLine) 1px solid;
    border-radius: 20px;
}
.NavIcons:hover {
    border-radius: 16px;
}
.Nav li:hover > .NavSubMenu {
    visibility: visible;
    max-width: 256px;
}
.NavSubMenu {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 58px;
    height: 100%;
    max-width: 0px;
    background-color: var(--Tertiary-Background-Color);
    border-left: var(--outLine) 1px solid;
    border-right: var(--outLine) 1px solid;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-transition: max-width 0.2s ease-in;
    transition: max-width 0.2s ease-in;
    visibility: hidden;
}
.NavSubMenu h1 {
    border-bottom: var(--Tertiary-Header-Color) 1px solid;
    background-color: var(--Tertiary-Background-Color);
}
.NavSubMenu li {
    height: auto;
    border-bottom: var(--outLine) 1px solid;
    margin: 2px;
}
.NavSubMenu li:hover {
    border-bottom: var(--Active-Outline-Color) 1px solid;
    background-color: var(--Primary-Background-Color);
}
.NavSubMenu a {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    height: 100%;
    color: var(--Tertiary-Header-Color);
    border-radius: 0 !important;
    text-align: center;
    font-size: 24px;
}
.FriendMessages {
    margin: 0;
    display: flex;
    opacity: 0.5;
}
.FriendMessages:hover {
    opacity: 1;
}
.FriendMessages img {
    height: 25px;
    width: 25px;
}
.FriendMessages a {
    text-align: left;
}

/*register & login Css */

.register-login {
    height: 100%;
    background: rgb(0, 4, 17, 0.8);
}
.register-login-Form {
    height: auto;
}
.register-login-Grid {
    display: grid;
    grid-template-columns: auto 300px auto;
    color: grey;

    height: 100%;
}
.register-login-Values {
    min-width: 290px;
    background: black;
    color: white;
    outline: none;
    border: white 1px solid;
    height: auto;
}

/*Browser Css */

/*Server Pages */
.server-Landingpageimg {
    display: grid;
    grid-row: 10% 30% 50% 10%;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.channelPage {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.channelGrid {
    height: 96%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 40px;
}
.chat {
    background: rgb(0, 4, 17, 0.8);
    display: flex;
    flex-direction: column;
    flex: 0.75;
}
.chatHeader {
    background: rgb(0, 4, 17, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Tertiary-Header-Color);
    border-bottom: var(--outLine) 1px solid;
    padding: 10px;
    height: auto;
}
.chatHeader_hash {
    color: var(--Tertiary-Header-Color);
    padding: 10px;
    font-size: 30px;
}
.chat_messages {
    flex: 1;
}
.chat_input {
    color: var(--Secondary-Header-Color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    border-top: var(--outLine) 1px solid;
    background-color: rgb(0, 0, 0, 0.9);
    height: auto;
    width: auto;
}
.chat_input > form > input {
    padding: 0px;
    background: transparent;
    border: none;
    outline-width: 0;
    color: var(--Tertiary-Header-Color);
    font-size: large;
}
.chat_input > form {
    align-items: center;
    flex: 1;
}
.chat_inputButton {
    display: none;
}
.message {
    display: flex;
    align-items: center;
    padding: 20px;
    color: var(--Tertiary-Header-Color);
    height: auto;
    width: 100%;
    box-sizing: border-box;
    word-break: break-word;
}
.message:hover {
    background-color: rgb(0, 0, 0, 0.5);
}
.message_info {
    margin-left: 10px;
    height: auto;
    border-top: var(--outLine) 1px solid;
}
.message_info p img {
    height: 20px;
    width: 20px;
}
.message_timestamp {
    color: var(--Secondary-Header-Color);
    margin-left: 10px;
    font-size: x-small;
}

/*Profile Page */

.profile-Banner {
    background-position: center;
    background-size: cover;
}
.profile-Background {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.profile-Film {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 4, 17, 0.5);
}
.profile-Master {
    display: grid;
    grid-template-rows: 110px auto;
    height: 100%;
    width: 100%;
}
.profile-SubMaster {
    height: 100%;
    display: grid;
    grid-template-rows: 240px auto;
    overflow: hidden;
}
.profile-Header {
    display: grid;
    grid-template-columns: 120px 400px auto 110px;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
}
.profile-DisplayPicture {
    background-color: var(--Bright-Background-Color);
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-position: center;
    margin: 5px;
    background-size: cover;
}
.profile-Options {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-top: 5px;
    background-size: cover;
    background-position: center;
    background-color: var(--Bright-Background-Color);
    border: var(--outLine) 1px solid;
    cursor: pointer;
    border-radius: 20px;
    transform: scale(1, -1);
}
.profile-Options-Submenu {
    display: block;
    position: absolute;
    height: auto;
    width: 200px;
    background-color: rgb(0, 0, 0);
    top: 40px;
    left: 425px;
    z-index: 20;
    padding: 0;
}
.profile-Options-Submenu li {
    margin: 0;
    height: auto;
    width: auto;
    cursor: pointer;
}
.profile-Screenshots-Container {
    border-top: var(--outLine) 1px solid;
    background-color: rgb(0, 4, 17, 0.5);
    height: 100%;
    width: 100%;
    z-index: 1;
}
.profile-Screenshots-Container ul {
    width: auto;
    display: inline-flex;
}
.profile-Screenshots-Container li {
    float: left;
}
.profile-Screenshots-Background {
    background-color: rgb(0, 4, 17, 0.7);
}
.profile-Screenshots {
    box-sizing: border-box;
    float: left;
    height: 215px;
    width: 25%;
    overflow: hidden;
    padding: 6px;
}
.profile-Screenshots img {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
    border: var(--outLine) 2px solid;
}
.profile-Screenshots img:hover {
    border: var(--Active-Outline-Color) 2px solid;
    cursor: pointer;
}
.profile-Body {
    border-top: var(--outLine) 1px solid;
    display: grid;
    grid-template-columns: 150px minmax(auto, 2050px);
    height: 100%;
    margin-top: 4px;
}
.profile-Body-Center {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.profile-Tabs {
    background-color: rgb(0, 4, 17, 0.5);
    border-right: var(--outLine) 1px solid;
}
.profile-Tabs ul {
    color: var(--Tertiary-Header-Color);
    margin: 5px;
    padding: 0;
    width: auto;
}
.profile-Tabs li {
    height: auto;
    width: auto;
    border-bottom: var(--outLine) 1px solid;
}
.profile-Tabs li:hover {
    background-color: var(--Secondary-Background-Color);
    color: var(--Active-Outline-Color);
    cursor: pointer;
}
.profile-Friendrequests ul {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.profile-Friendrequests li {
    height: auto;
    margin: 5px;
    padding: 0px;
    width: 300px;
}
.profile-Achievementslist {
    overflow-y: scroll;
    display: flexbox;
    height: 40%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.profile-Achievementslist li {
    margin-left: 18px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 280px;
    border: var(--outLine) 1px solid;
}
.profile-Activity {
    background-color: rgb(0, 4, 17, 0.7);
}
.profile-Activity-Log {
    overflow-y: scroll;
    display: flexbox;
    height: 60%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.profile-Activity-Log li {
    float: left;
    height: auto;
    width: 100%;
    margin-left: 20px;
    margin-top: 5px;
    border-top: var(--outLine) 1px solid;
}
.profile-Stats ul {
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: scroll;
    display: flexbox;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.profile-Stats ul li {
    display: flex;
    height: 100px;
    margin-top: 5px;
    margin-left: 5px;
}
.stats-GameImg {
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 200px;
}
.profile-Comments {
    background-color: rgb(0, 4, 17, 0.7);
}
.profile-Comments ul {
    border: var(--outLine) 1px solid;
    margin: 0;
    padding: 0;
    width: 100%;
}
.profile-Comments li {
    padding: 2px;
    height: auto;
    width: auto;
}

/*Game Page */

.Gamepage {
    color: var(--Tertiary-Header-Color);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 200px 80px auto;
    background-position: center;
    background-size: cover;
}
.Gamepage-Banner {
    display: grid;
    grid-template-columns: auto minmax(auto, 1420px) auto;
}
.Gamepage-Img {
    background-size: cover;
    background-position: center;
}
.Gamepage-Nav {
    background: var(--Primary-Background-Color);
    border-bottom: var(--outLine) 2px solid;
    z-index: 1;
    padding-bottom: 2px;
}
.Gamepage-Body {
    display: grid;
    grid-template-columns: 50% auto;
}
.Gamepage-Lists {
    display: grid;
    grid-template-columns: 40% 60%;
}
.Gamepage-Lists ul {
    background-color: rgb(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.Gamepage-Lists li {
    height: auto;
    width: auto;
    margin: 5px;
}
.Gamepage-Lists a {
    text-decoration: none;
    color: white;
}
.Gamepage-News-Container {
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
}
.Gamepage-News {
    height: auto;
}
.Gamepage-News ul {
    height: auto;
    width: auto;
}
.Gamepage-News ul li {
    background-color: rgb(0, 0, 0, 0.8);
    border-top: 0px;
    margin: 0;
    padding: 2px;
    height: auto;
    width: auto;
}

/*Store */
.store-Nav {
    overflow-x: hidden;
    background-color: #000411;
    margin-top: 0;
    height: auto;
    z-index: 1;
    width: 100%;
}
.store-Nav ul {
    display: block;
    margin: 0;
    padding: 0;
    margin: 0px;
    overflow-x: hidden;
}
.store-Nav li {
    width: auto;
    height: auto;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.store-Nav li:first-child {
    margin-left: 2px;
    margin-top: 0px;
}
.store-Searchbar {
    width: auto;
    height: auto;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    padding-bottom: 0;
}
.store-Listpage {
    overflow-y: scroll;
    height: 96%;
}
.store-Listpage ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flexbox;
    overflow-y: scroll;
}
.store-Listpage li {
    width: auto;
    height: auto;
    float: left;
    margin-left: 10px;
    padding-bottom: 12px;
}
.store-Listpage a {
    text-decoration: none;
    height: auto;
    width: auto;
}
.store-GamesImg {
    height: 240px;
    width: 140px;
    background-size: cover;
    background-position: center;
    padding: 5px;
    margin: 10px;
    border: var(--outLine) 2px solid;
}
.store-GamesImg:hover {
    border: var(--Active-Outline-Color) 2px solid;
}

/* Store GamePages */
.store-Gamepage {
    color: var(--Secondary-Header-Color);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.store-Gamepage-Film {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 4, 17, 0.9);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 6% 94%;
}
.store-Gamepage-Header {
    height: auto;
    background-color: var(--Tertiary-Background-Color);
}
.store-Gamepage-Grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
}
.store-Gamepage-Components {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.store-Gamepage-Img {
    width: 99%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.store-Gamepage-Subcomponents {
    display: grid;
    grid-template-rows: 85% 15%;
    height: 100%;
    width: 100%;
    position: relative;
}
.store-Gamepage-Reviews {
    height: 100%;
}
.store-Gamepage-Reviews ul {
    height: 92%;
    width: auto;
    overflow-y: scroll;
}

.store-Gamepage-Reviews li {
    height: auto;
    width: auto;
}
/*Cart Page */
.store-Cartpage {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    background: rgb(0, 4, 17, 0.8);
}
.store-Cartpage ul {
    height: 50%;
    width: 90%;
}
.store-Cartpage li {
    height: 100%;
}
.store-Cartpage-Img {
    height: 75%;
    background-position: center;
    background-size: cover;
}

/*Dashboard Css */

.dashboard {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.dashboard-Grid {
    height: 550px;
    display: grid;
    grid-template-rows: 49% 49%;
}
.dashboard-TrendImg {
    height: 140px;
    width: 240px;
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin: 10px;
    border: var(--outLine) 1px solid;
}
.dashboard-TrendImg:hover {
    border: var(--Active-Outline-Color) 1px solid;
    cursor: pointer;
}
.dashboard-Trending {
    height: 100%;
    border-bottom: var(--outLine) 2px solid;
}
.dashboard-Trending ul {
    display: inline-flex;
    width: auto;
    height: auto;
}
.dashboard-Trending li {
    margin-left: 15px;
    padding-left: 20px;
    float: left;
}
.wrapper {
    width: 100%;
    height: 90%;
    position: relative;
    margin: auto;
    padding: 0;
}

.trendy {
    width: 100%;
    display: flex;
    overflow: hidden;
}
.card {
    box-sizing: border-box;
    min-width: 25%;
    height: auto;
    overflow: hidden;
    padding: 6px;
}
.card img {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
    border: var(--outLine) 2px solid;
}
.card img:hover {
    border: var(--Active-Outline-Color) 2px solid;
    cursor: pointer;
}
.card h2 {
    position: relative;
    height: auto;
    width: 100%;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    opacity: 1;
    background-color: rgb(0, 0, 0, 1);
    bottom: 36px;
    left: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.row img {
    display: block;
}
.prev,
.next {
    opacity: 0.5;
    border-radius: 24px;
    position: absolute;
    top: 35%;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.prev {
    left: 7px;
    transform: rotateY(180deg);
}
.next {
    right: 7px;
}
.prev:hover {
    opacity: 1;
}
.next:hover {
    opacity: 1;
}
@media (max-width: 1100px) {
    .card {
        min-width: 50%;
    }
}
@media (max-width: 900px) {
    .card {
        min-width: 100%;
    }
}

.dashboard-Games {
    height: auto;
}
.dashboard-Games ul {
    display: flexbox;
    list-style: none;
    width: auto;
    height: auto;
}
.dashboard-Games li {
    float: left;
    padding: 10px;
    margin: 5px;
    height: 280px;
    width: 180px;
}
.dashboard-Games a {
    text-decoration: none;
}
.dashboard-GamesImg:hover .dashboard-Game-Submenu {
    display: block;
    position: inherit;
    background-color: rgb(0, 4, 17, 1);
    margin-left: 0px;
    margin-top: 190px;
    padding-bottom: 0;
    text-align: center;
    border-radius: 8px;
}
.dashboard-Game-Submenu {
    display: none;
    min-width: 70px;
    height: auto;
    color: var(--Tertiary-Header-Color);
}
.dashboard-GamesImg {
    position: relative;
    left: 10px;
    top: 10px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    max-height: 260px;
    max-width: 160px;
    transition: all 0.2s ease;
    border: var(--outLine) 2px solid;
}
.dashboard-GamesImg:hover {
    left: 0px;
    top: 0px;
    max-height: 280px;
    max-width: 180px;
    border: var(--Active-Outline-Color) 2px solid;
}

/*Dashboard Feed */
.dashboard-Nav {
    height: auto;
    display: flex;
    color: white;
}
.dashboard-Nav-Buttons {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-evenly;
}
.dashboard-Nav-Buttons-Options {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}
.dashboard-Nav-Buttons-Options-Active {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 1);
    color: var(--Primary-Header-Color);
}
.feed-Container {
    height: auto;
    display: flex;
    color: white;
}
.feed {
    height: auto;
    width: 150%;
}
.post-To-Feed {
    border-radius: 20px;
    background-color: #1b1b1b;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    padding: 20px;
    width: auto;
    height: auto;
}
.post-To-Feed-Top {
    display: flex;
}
.post-To-Feed-Top input {
    width: 88%;
    height: 42px;
    color: white;
    border-radius: 16px;
    margin-left: 5px;
    border: none;
    outline-width: 0;
    background: var(--Primary-Background-Color);
}
.post-To-Feed-Bottom {
    margin-top: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
    border-top: var(--Active-Outline-Color) 1px solid;
}
.post-To-Feed-Bottom-Options {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.post-To-Feed-Bottom-Options:hover {
    background-color: black;
    border-radius: 10px;
}
.post-To-Feed-Image-Input {
    width: 96%;
    height: 42px;
    color: white;
    border-radius: 16px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    outline-width: 0;
    background: var(--Primary-Background-Color);
}
.post {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 20px;
    background-color: #1b1b1b;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}
.post_image > img {
    width: 100%;
}
.post_top {
    height: auto;
    width: 95%;
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
    padding-bottom: 5px;
}
.post_avatar {
    margin-right: 10px;
}
.post_topInfo {
    height: auto;
    width: auto;
}
.post_topInfo > p {
    height: auto;
    font-size: small;
    color: grey;
}
.post_topInfo > h3 {
    height: auto;
    font-size: medium;
}
.post_bottom {
    height: auto;
    width: 90%;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 15px 25px;
}
.post_bottom > p {
    height: auto;
}
.post_options {
    width: 95%;
    padding: 10px;
    border-top: var(--Active-Outline-Color) 1px solid;
    display: flex;
    justify-content: space-evenly;
    color: white;
    cursor: pointer;
    padding: 15px;
}
.post_option {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.post_option > p {
    height: auto;
    width: auto;
}
.post_option:hover {
    background-color: black;
    border-radius: 10px;
}

.feed_leftSidebar {
    width: 60%;
    height: auto;
    margin-left: 5px;
}
.feed_leftSidebar > div > a {
    list-style: none;
    text-decoration: none;
}
.feed_banner {
    border-bottom: white 1px solid;
}
.feed_leftSidebar_Options {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 31px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: white 1px solid;
}
.feed_leftSidebar_Options:hover {
    background-color: rgba(0, 0, 0, 1);
    border-bottom: var(--Active-Outline-Color) 1px solid;
    color: var(--Active-Outline-Color);
}

/*Sidebars*/
.banner {
    background-position: center;
    background-size: cover;
}
.banner-Film {
    height: 100%;
    width: 100%;
}
.banner-Film:hover {
    background-color: rgb(0, 4, 17, 0.8);
}
.banner-Film p {
    color: var(--Tertiary-Header-Color);
    opacity: 0;
    font-size: 18px;
}
.banner-Film:hover p {
    opacity: 1;
}
.banner-Film a {
    color: var(--Tertiary-Header-Color);
    opacity: 0;
    font-size: 18px;
}
.banner-Film:hover a {
    opacity: 1;
}

/*Right Sidebar*/

/* Stream Chat */
.stream_game {
    color: var(--Primary-Header-Color);
}
.stream_name {
    color: var(--Primary-Header-Color);
}

.messages {
    overflow: auto;
    flex: auto;
    height: 100%;
}
.messageContainer {
    background: black;
    border-radius: 8px;
    border: var(--outLine) 1px solid;
    margin: 2px;
    width: auto;
    height: auto;
}
.profileInfoContainer {
    display: flex;
    width: auto;
    height: auto;
    justify-content: flex-start;
    padding: 2px;
    border-bottom: var(--outLine) 1px solid;
}
.messageText {
    height: auto;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
}
.messageBox {
    display: inline-block;
    margin: 4px;
    max-width: 310px;
    width: auto;
    height: auto;
}
.messageText {
    height: auto;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
    color: var(--Tertiary-Header-Color);
}
.streamChatUsername {
    width: auto;
    display: flex;
    align-items: center;
    font-family: Helvetica;

    letter-spacing: 0.3px;
}

/*Server Userlist */
.R-Sidebar-ServerUserlist {
    background-color: rgb(0, 0, 0, 0.8);
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    height: 100%;
}
.R-Sidebar-ServerUserlist ul li:hover .R-Sidebar-ServerUserSubMenu {
    display: block;
    position: absolute;
    background-color: rgb(0, 4, 17, 0.7);
    margin-top: -66px;
    margin-left: 105px;
    padding-bottom: 0;
}
.R-Sidebar-ServerUserSubMenu {
    display: none;
    min-width: 70px;
}
.R-Sidebar-ServerUserSubMenu li {
    float: left;
    margin-left: 2px;
    padding: 0px;
    padding-left: 2px;
}
.R-Sidebar-ServerUserSubMenu li:hover {
    background-color: var(--Tertiary-Background-Color);
}
.R-Sidebar-ServerUsers {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    height: 100%;
}
.R-Sidebar-ServerUsers ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 2px;
    margin-top: 5px;
}
.R-Sidebar-ServerUsers li {
    height: auto;
    float: center;
    margin-top: 2px;
}
.R-Sidebar-ServerUsers li a {
    display: block;
    color: var(--Tertiary-Header-Color);
    text-decoration: none;
    font-size: 20px;
}

/*Cart List */
.R-Sidebar-Cartlist {
    background-color: rgb(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    height: 100%;
    text-decoration: none;
    list-style: none;
}
.cartlist-Items {
    font-weight: bold;
    text-align: left;
    height: 100%;
}
.cartlist-Items ul {
    height: auto;
    padding: 0;
    margin: 0;
}
.cartlist-Items li {
    height: auto;
    float: center;
}
.cartlist-Items li a {
    display: block;
    color: var(--Tertiary-Header-Color);
    font-size: 17px;
    text-decoration: none;
}

/*Games List*/
.R-Sidebar-Gamelist {
    background-color: rgb(0, 0, 0, 0.8);
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    height: 100%;
    width: auto;
}
.gamelist-Games {
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    height: 100%;
    overflow-x: hidden;
}
.gamelist-Games ul {
    height: 96%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 2px;
    margin-top: 3px;
    overflow-y: scroll;
}
.gamelist-Games li {
    margin-top: 2px;
    float: center;
    height: 80px;
}
.gamelist-Games li a {
    display: block;
    color: var(--Tertiary-Header-Color);
    text-decoration: none;
    font-size: 12px;
    height: 15px;
    width: 20px;
}
.banner-Film:hover .games-Submenu {
    display: block;
    position: relative;
    margin-top: 10px;
    margin-left: 0px;
    padding-bottom: 0;
}
.games-Submenu {
    display: none;
    width: auto;
    height: auto;
    min-width: 70px;
}
.games-Submenu ul {
    height: auto;
    width: auto;
}
.games-Submenu li {
    text-decoration: none;
    float: left;
    margin-left: 3px;
    padding: 0px;
    padding-left: 0px;
    height: 40px;
    width: auto;
}
.games-Submenu a {
    height: auto;
    width: auto;
}

/*Left Sidebar*/

/*Channel Lists*/
.server-Options-Submenu {
    display: block;
    position: absolute;
    height: auto;
    width: 250px;
    background-color: rgb(0, 0, 0);
    top: 25px;
    left: 63px;
    z-index: 20;
    padding: 0;
}
.server-Options-Submenu li {
    margin: 0;
    height: auto;
    width: auto;
    cursor: pointer;
}

.L-Sidebar-Serverchannels {
    background-color: rgb(0, 0, 0, 0.8);
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    height: 100%;
}
.L-Sidebar-Serverchannels h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.L-Sidebar-Serverchannels ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 2px;
    margin-top: 5px;
}
.L-Sidebar-Serverchannels ul li {
    height: auto;
    width: auto;
    margin-top: 2px;
    margin-left: 4px;
    word-wrap: none;
}
.L-Sidebar-Serverchannels li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.L-Sidebar-Serverchannels li a:hover {
    color: var(--Active-Outline-Color);
}
.L-Sidebar-Serverchannels li a:hover {
    background-color: var(--Secondary-Background-Color);
}
.L-Sidebar-AddChannel {
    height: 50px;
    width: 50px;
    background-size: cover;
    cursor: pointer;
}
.channelUserlist li {
    display: flex;
    cursor: pointer;
}

/*Friends List */
.L-Sidebar-Friendlist {
    background-color: rgb(0, 0, 0, 0.8);
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    height: 100%;
}
.Friendlist-Friends {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.Friendlist-Friends ul {
    height: 96%;
    width: auto;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 2px;
    margin-top: 5px;
}
.Friendlist-Friends li {
    height: 65px;
    margin-top: 2px;
}
.offlineFriends {
    opacity: 0.5;
}
.offlineFriends:hover {
    opacity: 1;
}
.Friendlist-Friends ul li:hover {
    opacity: 1;
}
.Friendlist-Friends li a {
    height: 30px;
    display: block;
    color: var(--Tertiary-Header-Color);
    text-decoration: none;
    font-size: 20px;
}
.L-Sidebar-Friendlist ul li:hover .Friendlist-Submenu {
    display: block;
    margin-top: -80px;
    padding-bottom: 0;
    overflow-x: hidden;
}
.Friendlist-Submenu {
    height: 51px;
    width: auto;
    position: relative;
    display: none;
    margin-top: -80px;
    min-width: 70px;
    background: rgb(0, 0, 0, 0.7);
}
.Friendlist-Submenu ul {
    width: 100%;
    margin: 0;
    overflow-y: hidden;
    z-index: 1;
}
.Friendlist-Submenu li {
    height: 100%;
    width: 49%;
    float: left;
    margin-left: 0px;
    padding: 0px;
    padding-left: 0px;
    border: rgb(0, 0, 0, 0) 1px solid;
}
.Friendlist-Submenu li:hover {
    border: var(--Active-Outline-Color) 1px solid;
    background-color: black;
}
.Friendlist-Submenu a {
    padding-top: 13px;
    text-align: center;
}
.Friendlist-Submenu a:hover {
    color: var(--Primary-Header-Color);
}

/* Search Page */
.search {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 50% 50%;
}
.search ul {
    width: 90%;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
}
.search li {
    height: 80px;
    width: 100%;
    margin-top: 5px;
}
.search a {
    text-decoration: none;
    color: var(--Tertiary-Header-Color);
}
/*////////////////*/

.animatedDivs {
    height: auto;
}
