/*Cart Page */
.store-Cartpage {
    height: 96%;
    width: 98%;
    display: grid;
    grid-template-columns: 50% 50%;
    background: rgb(0, 0, 0, 0.75);
    border-radius: 16px;
    margin: 16px;
    box-sizing: border-box;
    box-shadow: 0px 5px 15px -3px var(--Active-Outline-Color);
}
.store-Cartpage ul {
    height: 100%;
    width: 90%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 15px;
}
.store-Cartpage li {
    height: 50vh;
}
.store-Cartpage-Img {
    height: 75%;
    background-position: center;
    background-size: cover;
}
.store-Gamepage-Headers {
    color: var(--Primary-Header-Color);
}
