/* Store GamePages */
.store-Gamepage {
    color: var(--Secondary-Header-Color);
    height: 96%;
    width: 98%;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    box-sizing: border-box;
    margin: 16px;
    box-shadow: 0px 5px 15px -3px var(--Active-Outline-Color);
}
.store-Gamepage-Film {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 4, 17, 0.9);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 6% 94%;
}
.store-Gamepage-Header {
    height: auto;
    background-color: var(--Tertiary-Background-Color);
}
.store-Gamepage-Grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
}
.store-Gamepage-Components {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.store-Gamepage-Img {
    width: 99%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.store-Gamepage-Subcomponents {
    display: grid;
    grid-template-rows: 85% 15%;
    height: 100%;
    width: 100%;
    position: relative;
}
.store-Gamepage-Reviews {
    height: 100%;
}
.store-Gamepage-Reviews ul {
    height: 92%;
    width: auto;
    overflow-y: scroll;
}
.store-Gamepage-Reviews li {
    height: auto;
    width: auto;
}
.store-Gamepage-Buttons {
    outline: none;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: rgb(0, 0, 0, 0.75);
    color: var(--Tertiary-Header-Color);
    padding: 10px;
    display: inline-block;
    border: none;
    border-bottom: white 1px solid;
    margin: 8px;
    min-width: 90px;
}
.store-Gamepage-Buttons:hover {
    border-bottom: var(--Active-Outline-Color) 1px solid;
    background: var(--Tertiary-Background-Color);
    color: var(--Active-Outline-Color);
    box-shadow: 0px 5px 15px -3px var(--Active-Outline-Color);
    cursor: pointer;
}
