/* Stream Chat */
.stream_ChatContainer {
    background-color: rgb(0, 0, 0, 0.75);
    margin: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.stream_game {
    color: var(--Primary-Header-Color);
}
.stream_name {
    color: var(--Primary-Header-Color);
}

.messages {
    overflow: auto;
    flex: auto;
    height: 100%;
}
.messageContainer {
    background: black;
    border-radius: 8px;
    border: var(--outLine) 1px solid;
    margin: 2px;
    width: auto;
    height: auto;
}
.profileInfoContainer {
    display: flex;
    width: auto;
    height: auto;
    justify-content: flex-start;
    padding: 2px;
    border-bottom: var(--outLine) 1px solid;
}
.messageText {
    height: auto;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
}
.messageBox {
    display: inline-block;
    margin: 4px;
    max-width: 310px;
    width: auto;
    height: auto;
}
.messageText {
    height: auto;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
    color: var(--Tertiary-Header-Color);
}
.streamChatUsername {
    width: auto;
    display: flex;
    align-items: center;
    font-family: Helvetica;

    letter-spacing: 0.3px;
}
.streamChat_Input {
    height: 5%;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: black;
    color: white;
    outline-width: 0;
}
